@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><p>SISTEMA DE INFORMACIÓN</p> </h1>
    <h3>EL BOTECITO</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>BARCO</h2>
        <p>
            Seleccione esta opción en el menú para administrar la información de los Barcos de la compañía.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>VIAJE</h2>
        <p>Ingrese y consulte la información de viajes de la compañía.</p>
        
    </div>
    <div class="col-md-4">
        <h2>CAPITAN</h2>
        <p>Consulte los nombres de los capitanes en el menú Capitán.</p>
        

    </div>
</div>

<script src="~/Scripts/Views/Home/Index.js"></script>
