
@{
    ViewBag.Title = "Viaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-page-body col-md-12">
    <div class="card-header col-md-12 row">
        <div class="col-md-12">
            <center><b>VIAJES</b></center>
        </div>

    </div>

    <hr>

    <div class="panel panel-info">
        <div class="card-body">
            <center><h4>Listado de viajes Registrados</h4></center>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-12 form-group">


                   
                </div>
            </div>

            <div class="row">

               
            </div>


            <div class="row">
               
            </div>
           

        </div>
    </div>
</div>


<table id="grid-selection" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            
            <th data-column-id="IdViaje">Id Viaje</th>
            <th data-column-id="Nombre">Nombre Barco</th>
            <th data-column-id="PuertoOrigen" data-order="desc">Puerto Origen</th>
            <th data-column-id="PuertoDestino" data-formatter="link" data-sortable="false">Puerto Destino</th>
            <th data-column-id="Capitán" data-order="desc">Capitán</th>
        </tr>
    </thead>
    <tbody id="bodyId"></tbody>
</table>



<script src="~/Scripts/Views/Viaje/ReporteViajes.js"></script>


<style>
    .k-grid-header .k-header {
        height: 70px;
        padding: 0;
        overflow: visible;
        white-space: normal;
    }

    .searchButton {
        height: 46px;
        width: 90px;
        cursor: pointer;
        border: none;
        background-color: aqua;
    }

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    *, *::before, *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>



